# Generating Linear Regression Model to Predict Life Expectancy

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from joblib import dump, load

In [2]:
data = pd.read_csv('Data/Derived/final_data.csv')
data.head()

  state  year  quartile  gender  life_expectancy
0    al  2001         1  female        80.977432
1    al  2002         1  female        81.550888
2    al  2003         1  female        80.669098
3    al  2004         1  female        82.787102
4    al  2005         1  female        81.994995

In [ ]:
X = income_lifeexpectancy[["state", "quartile", "gender"]]
y = income_lifeexpectancy["LE"].values.reshape(-1, 1)
print(X.shape, y.shape)